body {
  font-family: serif;
  
}

.nav_main_content {
    display: flex
}

.navbar {
    /* background-color: rgba(11, 109, 11, 0.7); */
    width: 30vw;
    height: 50vh;
}

.navbar ul{
    width: 60%;
    height: 100%;
    background-color: rgba(11, 109, 11, 0.7);

}


main {
    width: 60vw;
}
header, footer {
    text-align: center;
}