/* For all pages */
body {
  font-family: serif;
  background-color: rgba(0, 0, 0, 0.9);
}

header{
    display: flex;
    /* justify-content: space-between; */
    
    justify-content: center; /* Centers the text div horizontally */
    align-items: center; 
    position: relative;   
}

header h3{
    font-size: clamp(1rem, 3vh + 1vw, 1.5rem);
    margin-bottom: 0vh;
}

header h4{
    font-size: clamp(0.875rem, 2.5vh + 1vw, 1rem);
    margin-top: 0vh;
}

.logo {
    /* For the div object holding the logo */
    position: absolute;
    left: 2vw; 
    width: clamp(5rem, 5%, 8rem);
    height: auto;
}
#logo{
    /*For the actual logo itself */
    width: 100%;
    height: auto;
}

.nav_main_content {
    display: flex
}

.navbar {
    width: 20vw;
    height: 50vh;
    /* box-sizing: border-box; */ /*https://www.w3schools.com/css/css_padding.asp */
}

.navbar ul{
    width: 8vw;
    height: 100%;
    background-color: rgba(11, 109, 11, 0.7);

}

.navbar ul li{
    font-size: calc(2vh + 1vw);
}

.navbar ul li a{
    display: block;
    color: #dbdbdb;
}

.navbar ul li a:hover{
    color: #46d1f3;
}

main {
    width: 70vw;
}
header, footer {
    text-align: center;
}

h1, h2, h3, h4, h5, p{
    color: #dbdbdb;
}

h1 {
    font-size: clamp(1.5rem, 5vh + 1vw, 3rem);
    /* font-size: calc(5vh + 1vw); */
    text-decoration: underline;
}

h2 {
    font-size: clamp(1.25rem, 4vh + 1vw, 2.5rem);
}



p{
    font-size: clamp(0.875rem, 2vh + 1vw, 1.25rem);
    /* font-size: calc(2vh + 1vw); */
}

footer {
    margin-top: 20vh;
}

/* For About/Home Page */


.Intro_img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 60vh;
    
}



/* For service page */
.services_provided{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.service{
    width: 25%;
    /* height: 25%; */
    
}

.service h2{
    font-size: clamp(1rem, 3vh + 1vw, 1.5rem);
}

#debris_chute{
    width: 112px;
    height: 200px;
}

.placeholder_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 60vh;
}

/* For Contact Page */
.contact_container{
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.contact div{
    text-align: center;
    
}

.contact_reach{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.contact_reach h3{
    font-size: clamp(1rem, 3vh + 1vw, 1.5rem);
}

.contact_reach h4{
    font-size: clamp(0.875rem, 2.5vh + 1vw, 1rem);
}

.profile_pic{
    width: 16vw;
    height: auto;
}